#backside-anouncement-title-input{
    width: 500px;
    margin-top: 50px;
    margin-bottom: 20px;
}
#backside-anouncement-description-input{
    height: 100px;
    margin-bottom: 20px;
    width: 700px;
}